/* ====== extra Small device responsive start ====== */
@media (max-width: 574.98px) {

    /* header part */
    .main_menu .navbar-brand {
        font-size: 22px;
    }

    .navbar {
        --bs-navbar-padding-y: 10px;
    }

    .main_menu {
        background: #000;
    }

    .main_menu ul {
        gap: 16px;
        align-items: center;
    }

    .main_menu ul li a:hover {
        color: #FFC178 !important;
    }

    .main_menu ul .active_home {
        color: #fff !important;
    }

    /* discover part start */
    #discover {
        padding: 180px 0;
    }

    .discover_head p {
        font-size: 17px;
    }

    .discover_head h1 {
        font-size: 60px;
    }

    .discover_head h2 {
        font-size: 45px;
    }

    /* holiday part start */
    #holiday {
        padding: 150px 0;
    }

    .holiday_image {
        width: 100%;
    }

    .holiday_text h3 {
        font-size: 17px;
    }

    .holiday_text h1 {
        width: 100%;
        font-size: 35px;
    }

    .holiday_text p {
        width: 100%;
    }

    .holiday_button a {
        margin-top: 30px;
        font-size: 17px;
    }

    /* bromo part start */
    #bromo {
        padding-bottom: 180px;
    }

    .bromo_part {
        padding: 330px 0 32px 0;
    }

    .bromo_text h3 {
        font-size: 17px;
    }

    .bromo_text h1 {
        width: 100%;
        font-size: 33px;
        margin-bottom: 20px;
    }

    .bromo_text p {
        width: 100%;
    }

    .bromo_button a {
        font-size: 17px;
    }

    /* culture part start */
    #culture {
        padding-bottom: 140px;
    }

    .culture_text h3 {
        font-size: 17px;
    }

    .culture_text h1 {
        width: 100%;
        font-size: 35px;
    }

    .culture_text p {
        width: 100%;
        font-size: 14px;
    }

    .culture_button a {
        margin-bottom: 50px;
        font-size: 17px;
    }

    .culture_image {
        width: 100%;
    }

    /* footer part start  */
    #footer {
        padding-bottom: 20px;
    }

    .footer_logo_button {
        justify-content: center;
        gap: 20px;
    }

    .footer_button {
        justify-content: center;
        gap: 17px;
        flex-wrap: wrap;
    }

    .footer_logo h2 {
        font-size: 35px;
    }

    .footer_button p {
        font-size: 18px;
    }

    .footer_button a {
        padding: 14px 33px;
    }

    .footer_left h2 {
        width: 100%;
        font-size: 30px;
    }

    .footer_left p {
        padding: 19px 0;
    }

    .footer_icon ul {
        margin: 10px 0;
    }

    .menu_items {
        margin-bottom: 38px;
    }

    .menu_items ul li a {
        font-size: 17px;
    }

    .copyright_text p {
        font-size: 16px;
    }
}

/* ------ extra Small device responsive end ------ */
/* ====== Small device responsive start ====== */
@media (min-width: 576px) and (max-width: 767.98px) {

    /* header part */
    .navbar {
        --bs-navbar-padding-y: 14px;
    }
    .fa-solid, .fas {
        font-size: 31px
    }
    .main_menu {
        background: #000;
    }

    .main_menu ul {
        gap: 16px;
        align-items: center;
    }

    .main_menu ul li a:hover {
        color: #FFC178 !important;
    }

    .main_menu ul .active_home {
        color: #fff !important;
    }

    /* discover part start */
    #discover {
        padding: 180px 0;
    }

    .discover_head p {
        font-size: 17px;
    }

    .discover_head h1 {
        font-size: 79px;
    }

    .discover_head h2 {
        font-size: 48px;
    }

    /* holiday part start */
    #holiday {
        padding: 150px 0;
    }

    .holiday_image {
        width: 100%;
    }

    .holiday_text h3 {
        font-size: 17px;
    }

    .holiday_text h1 {
        width: 100%;
        font-size: 38px;
    }

    .holiday_text p {
        width: 100%;
    }

    .holiday_button a {
        margin-top: 30px;
        font-size: 17px;
    }

    /* bromo part start */
    #bromo {
        padding-bottom: 180px;
    }

    .bromo_part {
        padding: 330px 0 32px 0;
    }

    .bromo_text h3 {
        font-size: 17px;
    }

    .bromo_text h1 {
        width: 100%;
        font-size: 36px;
        margin-bottom: 20px;
    }

    .bromo_text p {
        width: 100%;
    }

    .bromo_button a {
        font-size: 17px;
    }

    /* culture part start */
    #culture {
        padding-bottom: 140px;
    }

    .culture_text h3 {
        font-size: 17px;
    }

    .culture_text h1 {
        width: 100%;
        font-size: 39px;
    }

    .culture_text p {
        width: 100%;
        font-size: 15px;
    }

    .culture_button a {
        margin-bottom: 50px;
        font-size: 17px;
    }

    .culture_image {
        width: 100%;
    }

    /* footer part start  */
    #footer {
        padding-bottom: 20px;
    }

    .footer_logo_button {
        justify-content: space-between;
        gap: 20px;
    }

    .footer_button {
        justify-content: center;
        gap: 17px;
        flex-wrap: wrap;
    }

    .footer_logo h2 {
        font-size: 35px;
    }

    .footer_button p {
        font-size: 18px;
    }

    .footer_button a {
        padding: 14px 33px;
    }

    .footer_left h2 {
        width: 100%;
        font-size: 30px;
    }

    .footer_left p {
        padding: 19px 0;
    }

    .footer_icon ul {
        margin: 10px 0;
    }

    .menu_items {
        margin-bottom: 38px;
    }

    .menu_items ul li a {
        font-size: 17px;
    }

    .copyright_text p {
        font-size: 17px;
    }
}

/* ------ Small device responsive end ------ */
/* ====== medium device responsive start ====== */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* ------ medium device responsive end ------ */